@page
@model LoginModel

@{
    ViewData["Title"] = "Вход в системата";
    ViewData["Breadcrumb"] = new List<KeyValuePair<string, string>>() {
        new KeyValuePair<string, string>("Начало", "/"),
        };
    }

<h1 class="text-center text-secondary mb-4">@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-6 offset-md-3">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.PerosnalId"></label>
                    <input asp-for="Input.PerosnalId" class="form-control" />
                    <span asp-validation-for="Input.PerosnalId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success col-md-8 offset-md-2 form-control">Вход</button>
                </div>
                <div class="form-group">
                    <p>
                        @*<a id="forgot-password" asp-page="./ForgotPassword">Забравена парола?</a>*@
                    </p>
                    <h4 class="text-center">
                        <a class="text-success" target="_blank" asp-controller="Home" asp-action="Assets">Всички служители и офиси </a>
                    </h4>
                </div>
            </form>
        </section>
    </div>
</div>

