@page
@using FinalPoint.Services.Data.Administration

@model RegisterModel
@inject IOfficeService OfficeServices
@{
    ViewData["Title"] = "Добавяне на служител";
    var allOffices = OfficeServices.GeAllOfficesAsKeyValuePairs().Select(x => new SelectListItem(x.Value, x.Key));
    }


<h1 class="text-center text-secondary mb-4">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.MiddleName"></label>
                <input asp-for="Input.MiddleName" class="form-control" />
                <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PersonalId"></label>
                <input asp-for="Input.PersonalId" class="form-control" />
                <span asp-validation-for="Input.PersonalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DateOfBirth"></label>
                <input asp-for="Input.DateOfBirth" class="form-control" />
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.OfficeId"></label>
                <select asp-for="Input.OfficeId" asp-items="allOffices"  data-live-search="true" class="selectpicker form-control">
                </select>
                <span asp-validation-for="Input.OfficeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success col-md-8 offset-md-2 form-control">Добавяне</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
