<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">Информация за получателя</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body d-flex">
                    <div class="form-group col-md-3 px-2">
                        <label for="parcelId">Номер на пратка:</label>
                        <input id="parcelId" type="number" class="form-control" /></input>
                    </div>
                    <div class="form-group col-md-3 px-2">
                        <label for="recipentFirstName">Малко име:</label>
                        <input id="recipentFirstName" class="form-control" /></input>
                    </div>
                    <div class="form-group col-md-3 px-2">
                        <label for="recipentLastName">Фамилно име:</label>
                        <input id="recipentLastName" class="form-control" /></input>
                    </div>
                    <div class="form-group col-md-3 px-2">
                        <label for="recipentPhoneNumber">Телефонен номер:</label>
                        <input id="recipentPhoneNumber" type="number" class="form-control"/></input>
                    </div>
                </div>
            </div>
        </div>

                <button id="search" type="button" class="btn btn-success col-md-6 m-auto">Търсене</button>
            </div>
</form>
