@model Result

@if (Model != null && Model.Message != null)
{
    <div class="alert alert-@(Model.Success ? "success" : "danger") animate__animated animate__jello" role="alert">
        @Model.Message
    </div>
}