@using FinalPoint.Data.Models
@using Microsoft.AspNetCore.Identity
@using FinalPoint.Common
@{ ViewData["Title"] = "Начало"; }
@inject UserManager<ApplicationUser> UserManager

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary mb-4">Добре дошли, @this.UserManager.GetUserAsync(User)?.Result?.FullName</h1>
            <hr />

            @if (!this.User.IsInRole(GlobalConstants.OwnerRoleName))
            {
            <div class="row offset-md-2">
                <div class="col-md-5">
                    <a asp-controller="AddDispose" asp-action="AddParcel">
                        <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                            <div class="card-body">
                                <h4 class="card-title text-secondary">Приемане на пратка</h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-5">
                    <a asp-controller="AddDispose" asp-action="DisposeParcel">
                        <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                            <div class="card-body">
                                <h4 class="card-title text-secondary">Издаване на пратка</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            }

            <div class="row offset-md-2">
                <div class="col-md-5">
                    <a asp-controller="Load">
                        <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                            <div class="card-body">
                                <h4 class="card-title text-secondary">Товарене</h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-5">
                    <a asp-controller="Unload">
                        <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                            <div class="card-body">
                                <h4 class="card-title text-secondary">Разтоварване</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            @*<div class="row offset-md-2">
                    <div class="col-md-5">
                        <a href="#">
                            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h4 class="card-title text-secondary">Групиране</h4>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-5">
                        <a href="#">
                            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h4 class="card-title text-secondary">Разгрупиране</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>*@

            <div class="row offset-md-2">
                <div class="col-md-5">
                    <a asp-controller="Search">
                        <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                            <div class="card-body">
                                <h4 class="card-title text-secondary">Търсене</h4>
                            </div>
                        </div>
                    </a>
                </div>

                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName)
                   || this.User.IsInRole(GlobalConstants.OwnerRoleName))
                {
    <div class="col-md-5">
        <a asp-controller="Administration">
            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title text-secondary">Администрация</h4>
                </div>
            </div>
        </a>
    </div>}
            </div>
        </div>

        <style>
            
        </style>
            
