@using FinalPoint.Web.ViewModels.Home
@{
    ViewData["Title"] = "Начало";
    var allOffices = Model.AvailableOffices?.Select(x => new SelectListItem(x.Value, x.Key));
}

@model HomeIndexInputModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary mb-4">Добре дошли, @Model.FullName</h1>
            <hr />

            @if (Model.IsOwner)
            {
                <div class="text-center mb-4">
                    <form method="post" class="text-align-center">
                        <label asp-for="OfficeId"></label>
                        <div>
                            <select id="officeSelect" asp-for="OfficeId" asp-items="allOffices" data-live-search="true" class="selectpicker form-control col-md-8">
                            </select>

                            <button type="submit" id="delBtn" class="btn btn-primary col-md-3 form-control animate__animated animate__backInRight animate__faster">Напред ></button>
                        </div>

                        <span asp-validation-for="OfficeId" class="text-danger"></span>
                    </form>
                </div>
            }

            @if (!Model.IsOwner || !Model.IsFromVirtualOffice)
            {
                <div class="row offset-md-2">
                    <div class="col-md-5">
                        <a asp-controller="AddDispose" asp-action="AddParcel">
                            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h4 class="card-title text-secondary hover-underline-animation">Приемане на пратка</h4>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-5">
                        <a asp-controller="AddDispose" asp-action="DisposeParcel">
                            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h4 class="card-title text-secondary hover-underline-animation">Издаване на пратка</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>}

            <div class="row offset-md-2">
                <div class="col-md-5">
                    <a asp-controller="Load">
                        <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                            <div class="card-body">
                                <h4 class="card-title text-secondary hover-underline-animation">Товарене</h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-5">
                    <a asp-controller="Unload">
                        <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                            <div class="card-body">
                                <h4 class="card-title text-secondary hover-underline-animation">Разтоварване</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            @*<div class="row offset-md-2">
                    <div class="col-md-5">
                        <a href="#">
                            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h4 class="card-title text-secondary">Групиране</h4>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-5">
                        <a href="#">
                            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h4 class="card-title text-secondary">Разгрупиране</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>*@

            <div class="row offset-md-2">
                <div class="col-md-5">
                    <a asp-controller="Search">
                        <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                            <div class="card-body">
                                <h4 class="card-title text-secondary hover-underline-animation">Търсене</h4>
                            </div>
                        </div>
                    </a>
                </div>

                @if (Model.IsOwner
                 || Model.IsAdministrator)
                {
                    <div class="col-md-5">
                        <a asp-controller="Administration">
                            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h4 class="card-title text-secondary hover-underline-animation">Администрация</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<style>
   
</style>