@using FinalPoint.Data.Models
@{
    ViewData["title"] = "Издаване на пратка";

    ViewData["Breadcrumb"] = new List<KeyValuePair<string, string>>() {
        new KeyValuePair<string, string>("Начало", "/"),
        };
}


<h1 class="text-center text-secondary mb-4">@ViewData["Title"]</h1>
<hr class="mb-5" />

<div asp-validation-summary="All" class="text-danger"></div>

<partial name="_ParcelSearchInputBlockPartialView" />


<div id="parcelSearchResult"></div>

@section Scripts {
    <script src="~/js/AddDispose/GetSearchResultsForDisposeScript.js"></script>
    <script src="~/js/AddDispose/DisposeScript.js"></script>
    <script src="~/js/ToggleConfirmationPanel.js"></script>
}
