 @model LoadUnloadIndexViewModel
@{
    ViewData["Title"] = Model.TranslatedType;
    var availableLines = Model.Lines?.Select(x => new SelectListItem(x.Value, x.Key));

    ViewData["Breadcrumb"] = new List<KeyValuePair<string, string>>() {
        new KeyValuePair<string, string>("Начало", "/"),
        };
}

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-2 p-0">
            <h5 class="text-center text-secondary mt-1">@(Model.Type == ProtocolType.Loading ? $"Товарене към:" : $"Разтоварване от:")</h5>
        </div>

        <div class="col-md-10">
            <form method="post" class="col-md-12">
                <div class="input-group form-group">
                    <select asp-for="LineToLoad" asp-items="availableLines" data-live-search="true" class="col-md-10 selectpicker custom-select form-control">
                    </select>

                    <div class="input-group-append">
                        <button id="new" type="submit" class="btn btn-secondary form-control">Нов протокол</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
