@model FireEmployeeInputModel
@{
    ViewData["Title"] = "Уволняване на служител";
    ViewData["Breadcrumb"] = new List<KeyValuePair<string, string>>() {
        new KeyValuePair<string, string>("Начало", "/"),
        new KeyValuePair<string, string>("Администрация", "/Administration"),
        };

    var allEmployees = Model.AvailableEmployeesToDelete?.Select(x => new SelectListItem(x.Value, x.Key));
}


<h1 class="text-center text-secondary mb-4">@ViewData["Title"]</h1>

@if (Model.ResultMessage != null)
{
    <div class="alert alert-success" role="alert">
        @Model.ResultMessage
    </div>
}

<div class="row text-center">
    <form method="post" class="col-md-6 m-auto">
        <div class="form-group my-2 align-items-center justify-content-center">
            <label asp-for="EmployeeToFire"></label>
            <select asp-for="EmployeeToFire" asp-items="allEmployees" data-live-search="true" class="selectpicker form-control">
            </select>
            <span asp-validation-for="EmployeeToFire" class="text-danger"></span>
        </div>

        <button id="delBtn" type="button" onclick="togglePanel(true)" class="btn btn-danger col-md-8 animate__animated animate__backInRight animate__faster">Уволняване</button>

        <div id="confirmDeleteDiv" class="mt-2 animate__animated animate__backInRight animate__faster">
            <span class="col-md-4">Сигурни ли сте? </span>
            <button type="submit" class="btn btn-danger col-md-4">Да</button>
            <button type="button" onclick="togglePanel(false)" class="btn btn-success col-md-4">Не</button>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/site.js"></script>
}
