@model Result
@{
    ViewData["Title"] = "Администрация";

    ViewData["Breadcrumb"] = new List<KeyValuePair<string, string>>() {
        new KeyValuePair<string, string>("Начало", "/"),
        };
}

<h1 class="text-center text-secondary mb-4">@ViewData["Title"]</h1>

<partial name="_ResponseMessagePartial" model="Model"/>

<hr />

<p class="text-secondary text-center"><small><em>Когато искате да добавите нов офис и неговият собственик не се намира в базата данни, първо трябва да го добавите от модул "Добавяне на служител".</em></small></p>
<div class="row offset-md-2">
    <div class="col-md-5">
        <a asp-area="Identity" asp-page="/Account/Register">
            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title text-secondary">Добавяне на служител</h4>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-5">
        <a asp-controller="Administration" asp-action="FireEmployee">
            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title text-secondary">Уволняване на служител</h4>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row offset-md-2">
    <div class="col-md-5">
        <a asp-controller="Administration" asp-action="AddOffice">
            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title text-secondary">Добавяне на офис</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-5">
        <a asp-controller="Administration" asp-action="RemoveOffice">
            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title text-secondary">Премахване на офис</h4>
                </div>
            </div>
        </a>
    </div>
</div>