@model Result
@{
    ViewData["Title"] = "Администрация";

    ViewData["Breadcrumb"] = new List<KeyValuePair<string, string>>() {
        new KeyValuePair<string, string>("Начало", "/"),
        };
}

<h1 class="text-center text-secondary mb-4">@ViewData["Title"]</h1>

<partial name="_ResponseMessagePartial" model="Model"/>

<hr />

<div class="row offset-md-2">
    <div class="col-md-5">
        <a asp-area="Identity" asp-page="/Account/Register">
            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title text-secondary">Добавяне на служител</h4>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-5">
        <a asp-controller="Administration" asp-action="FireEmployee">
            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title text-secondary">Уволняване на служител</h4>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row offset-md-2">
    <div class="col-md-5">
        <a asp-controller="Administration" asp-action="AddOffice">
            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title text-secondary">Добавяне на офис</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-5">
        <a asp-controller="Administration" asp-action="RemoveOffice">
            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title text-secondary">Премахване на офис</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-5">
        <a asp-controller="Administration" asp-action="Settings">
            <div class="card border-left-info shadow mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title text-secondary">Настройки</h4>
                </div>
            </div>
        </a>
    </div>
</div>