@model RemoveOfficeInputModel
@{
    ViewData["Title"] = "Прекратяване на офис";

    ViewData["Breadcrumb"] = new List<KeyValuePair<string, string>>() {
        new KeyValuePair<string, string>("Начало", "/"),
        new KeyValuePair<string, string>("Администрация", "/Administration"),
        };
    var allOffices = Model.AvailableOfficesToRemove?.Select(x => new SelectListItem(x.Value, x.Key));
}


<h1 class="text-center text-secondary mb-4">@ViewData["Title"]</h1>

@if (Model.ResultMessage != null)
{
    <div class="alert alert-success" role="alert">
        @Model.ResultMessage
    </div>

}

<div class="row">
    <form method="post" class="col-md-6 offset-md-3">
        <div class="form-group">
            <label asp-for="OfficeToRemove"></label>
            <select asp-for="OfficeToRemove" asp-items="allOffices" data-live-search="true" class="selectpicker form-control">
            </select>
            <span asp-validation-for="OfficeToRemove" class="text-danger"></span>
        </div>

        <button type="button" id="delBtn" onclick="togglePanel(true)" class="btn btn-danger col-md-8 offset-md-2 form-control animate__animated animate__backInRight animate__faster">Прекратяване</button>

        <div id="confirmDeleteDiv" class="mt-2 animate__animated animate__backInRight animate__faster">
            <span class="col-md-4">Сигурни ли сте? </span>
            <button type="submit" class="btn btn-danger col-md-4 form-control">Да</button>
            <button type="button" onclick="togglePanel(false)" class="btn btn-success col-md-4 form-control">Не</button>
        </div>

    </form>
</div>

@section Scripts{
<script>
    $("#confirmDeleteDiv").hide();

    function togglePanel(isClicked) {
        if (isClicked) {
            $("#delBtn").hide();
            $("#confirmDeleteDiv").show();
        } else {
            $("#delBtn").show();
            $("#confirmDeleteDiv").hide();
        }
    }
</script>

}
